@import '~styles/settings.scss';
@import '~styles/layout.scss';

.page {
  @include row();

  margin-top: $gutter-padding;
  margin-bottom: $gutter-padding * 3;
}

.dropdowns {
  @include columns();

  @media #{$tablet-landscape} {
    @include columns($columns: (2.5,3,2.5,2,2));
  }
}

.buttonWrapper {
  margin-top: 22px;
  max-width: 100px;
}

.chartMapContainer {
  @include columns();

  @media #{$tablet-landscape} {
    @include columns($columns: (8,4));
  }
}

.chartContainer {
  min-height: 500px;
}

.legend {
  margin-top: $gutter-padding;
}

.projectedLegend {
  margin-left: 0;
}

.targetChartsContainer {
  @include columns();

  margin-top: 50px;

  @media #{$tablet-landscape} {
    @include columns(6);
  }
}

.shareButton {
  margin-top: 22px;
  width: 120px;
  color: $theme-color;
  background-color: $action-color;

  .shareText {
    margin-left: 10px;
  }
}
